<a href="https://colab.research.google.com/github/MarinaRuanna/imersao-dados-alura/blob/master/ImersaoDadosAlura_Desafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### IMPORTS E ALTERAÇÕES NECESSARIAS:

In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [68]:
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

In [40]:
plt.close("all")

In [ ]:
dados[["Moeda", "Valores", "Tipo_anuncio"]] = dados["Valor"].str.split(expand = True)
dados_vendas = dados[dados["Tipo_anuncio"].isnull()]
dados_vendas["Valor_anuncio_float"] = dados_vendas["Valores"].str.replace(".","").astype(float)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# DESAFIOS AULA 1:

## 1 - Realizar a média da metragem para cada um dos bairros.

**Resolução:**

Agrupei o nosso DataFrame 'dados' pelos valores da coluna "bairro" utilizando o método da biblioteca Pandas '.groupby()'. Em seguida apliquei o método da '.mean()'. 
Para obter um DataFrame apenas com os nomes dos Bairos e a media das metragens utilzei '.sort_values()'.
Em retorno obtive um DataFrame com informação das médias agrupadas pelos valores da coluna bairros que chamei de 'media_metragem_bairros'.
o index são os nomes dos bairros e o DataFrame esta ordenado por ordem crescente das médias das metragens.

Também utilizei uma sintaxe mais simples para obter um resultado semelhante, com o index também sendo os nomes dos bairros sem determinar a ordenação. Chamei esse DataFrame de 'media_metragem_bairro_v2'.

In [23]:
dados.groupby("Bairro")["Metragem"].mean()
media_metragem_bairro = dados.groupby("Bairro").mean()["Metragem"].sort_values()
media_metragem_bairro

Bairro
Vila Guaca                               10.000000
Vila Leonor                              46.000000
Jardim Benfica                           48.000000
Jardim Nova Germania                     57.000000
Cidade Antônio Estevão de Carvalho       57.500000
                                          ...
Chácara Flora                          1260.727273
Jardim das Camélias                    1700.000000
Jardim Guedala                         2486.640199
Vila Castelo                           2850.000000
Sítio Represa                         37000.000000
Name: Metragem, Length: 701, dtype: float64

In [24]:
media_metragem_bairro_v2 = dados.groupby(["Bairro"])["Metragem"].mean()
media_metragem_bairro_v2

Bairro
Aclimação            253.056818
Alto da Boa Vista    418.875000
Alto da Lapa         294.337209
Alto da Mooca        270.050000
Alto de Pinheiros    433.444988
                        ...
Vila Água Funda      152.200000
Água Branca          191.000000
Água Fria            165.416667
Água Funda           139.000000
Água Rasa            340.250000
Name: Metragem, Length: 701, dtype: float64

## 2 - Duas formas de selecionar os dados por bairro (consultar os métodos na documentação do Pandas):

**Resolução**:


Trouxe 5 formas diferentes de selecionar os dados da coluna "Bairro" do nosso DataFrame 'dados':

In [25]:
# Forma 1: 
# Chama todos os dados da coluna. 
# Sintaxe: DataFrame.Coluna
# Exemplo:

dados.Bairro

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [26]:
# Forma 2:
# Chama todos os dados da coluna. 
# Sintaxe: Dataframe["Coluna"]
# Eexemplo:

dados["Bairro"]

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [27]:
# Forma 3:
# Retorna um array com todos os valores unicos de uma coluna.
# Sintaxe: DataFrame["Coluna"].unique()   
# Exemplo:   (Selecionei apenas os 10 primeiros)
dados["Bairro"].head(10).unique()

array(['Planalto Paulista', 'Jardim dos Estados', 'Jardim Reimberg',
       'Jardim Morumbi', 'Mooca', 'Santo Amaro', 'Cidade Mãe do Céu',
       'Jardim Vergueiro', 'Jardim Benfica', 'Vila Alpina'], dtype=object)

In [28]:
# Forma 4:
# Retorna uma Series com todos os valores unicos de uma coluna.
# Sintaxe: DataFrame["Coluna"].drop_duplicates()  
# Exemplo:  

dados["Bairro"].drop_duplicates()

0           Planalto Paulista
1          Jardim dos Estados
2             Jardim Reimberg
3              Jardim Morumbi
4                       Mooca
                ...
9815         Parque São Jorge
9843                Vila Reis
9862       Parque das Árvores
9920           Vila São Pedro
9924    Jardim das Carmelitas
Name: Bairro, Length: 702, dtype: object

In [29]:
# Forma 5:
# Retorna uma Series com todos os valores unicos de uma coluna. 
# Transforma a coluna selecionada em index.
# Retorna a quantide de itens de cada valor único.
# Ordena por ordem decrescente de quantidade de itens.
# Sintaxe: DataFrame["Coluna"].value_counts()  
# Exemplo:  

dados["Bairro"].value_counts()

Alto de Pinheiros     409
Jardim Guedala        403
Jardim Paulista       309
Brooklin Paulista     247
Jardim Europa         240
                     ...
Jardim das Imbuias      1
Vila Represa            1
Vila Nancy              1
Sítio Represa           1
Vila Invernada          1
Name: Bairro, Length: 701, dtype: int64

## 3 - Explorar alguns gráficos na documentação e aplicar nas demais colunas do DataFrame, assim como tentar colocar alguma conclusão.

## 4 - Pegar outras estatísticas dos dados (como média, mediana, mim, max).

**Resolução:**

Com os conhecimentos adiquiridos na primeira aula, percebi que os metodos solicitados no **Desafio 4** só podiam ser aplicados ao tipo *numerico*.

- Um dado interessante que temos um imovel anunciado com 40 banheiros.

In [61]:
# No nosso DF 'dados', temos as seguintes colunas com dados numericos:
# "Metragem", "Quartos", "Banheiros" e "Vagas"
# Aplicando o método '.describe()' podemos ter acesso a algumas estatisticas dessas colunas como:
# contagem total de linhas da tabela (count), média (mean), desvio padrão (std), valor minimo (min), valor maximo (max), 25% do valor total (25%), 50% do valor total (50%) e 75% do valor total (75%)

dados.describe()

            Metragem       Quartos     Banheiros         Vagas
count   10008.000000  10008.000000  10008.000000  10008.000000
mean      442.300659      3.483114      3.879097      4.097222
std      7515.379389      1.064200      1.988467      2.824014
min        10.000000      1.000000      1.000000      1.000000
25%       173.000000      3.000000      2.000000      2.000000
50%       290.000000      3.000000      4.000000      4.000000
75%       460.250000      4.000000      5.000000      5.000000
max    750000.000000     16.000000     40.000000     50.000000

In [ ]:
# Podemos também aplicar o método '.describe()' em uma coluna especifica. 
# O retorno me mostrou:
# Temos 9996 anuncios que possuem bairros; 
# 701 bairros diferentes;
# O bairro que possui mais anuncios é o "Alto de Pinheiros" com 409 anuncios;
# Os dados da coluna "Bairro" são do tipo 'object'

dados["Bairro"].describe()

count                  9996
unique                  701
top       Alto de Pinheiros
freq                    409
Name: Bairro, dtype: object

In [62]:
# Aplicando o método '.describe()' na coluna "Metragem" percebemos um desvio padrão muito elevado.
# A diferença ente o valor minimo e o valor maximo pode revelar dados dicrepantes que precisam se melhor especionados.

dados["Metragem"].describe()

count     10008.000000
mean        442.300659
std        7515.379389
min          10.000000
25%         173.000000
50%         290.000000
75%         460.250000
max      750000.000000
Name: Metragem, dtype: float64

In [ ]:
# Média das metragens de todos os imoveis anunciados.

dados["Metragem"].mean()

442.30065947242207

In [ ]:
# Desvio Padrão de todas as metragens dos imóveis anunciados.

dados["Metragem"].std()

7515.379389417063

In [ ]:
# Valor maximo das metragens dos imóveis anunciados.

dados["Metragem"].max()

750000

In [ ]:
# Valor minimo das metragens dos imoveis anunciados.

dados["Metragem"].min()

10

In [ ]:
# Mediana das metragens dos imoveis anunciagos.

dados["Metragem"].median()

290.0

In [47]:
# Valor maximo de banheiros dos imóveis anunciados.

dados["Banheiros"].max()

40

In [48]:
# Valor minimo de banheiros dos imóveis anunciados.

dados["Banheiros"].min()

1

In [49]:
# Média de banheiros dos imóveis anunciados.

dados["Banheiros"].mean()

3.8790967226219024

## 5 - Descobrir quais são os bairros que não tem nome de rua.

**Resolução:**


Primeiro criei um DataFrame com todos os anuncios que não possuiam nomes de ruas utilizando o método 'isna()'. Com esse método é possivel verificar quais dados na coluna selecionada possuem valor 'NaN', que é um valor atribuidos a dados nulos, ausentes ou perdidos no DataFrame. 

Depois criei um novo DataFrame que chamei de 'bairros_sem_ruas', agora com os nomes dos Bairros sendo o index e a quantidade de anuncios em cada bairro que não possuem nomes de ruas. A ordenação é por ordem decrescente de quantidade de anuncios por bairro.

Foi possivel observar que 394 bairros possuiam anuncios sem nomes de ruas.
E o bairro que possuia mais anuncios sem nomes de ruas foi o "Jardim Guedala"

In [13]:
sem_rua = dados[dados["Rua"].isna()]
sem_rua

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
11,NaN,Jardim Luzitânia,São Paulo,436,4,3,3,R$ 15.000
31,NaN,Parque da Lapa,São Paulo,220,4,4,3,R$ 849.000
56,NaN,Chácara Santo Antônio (Zona Sul),São Paulo,190,2,2,2,R$ 1.100.000
57,NaN,Jardim Guedala,São Paulo,650,4,6,4,R$ 5.500.000
...,...,...,...,...,...,...,...,...
9963,NaN,Jardim Petrópolis,São Paulo,423,5,7,6,R$ 2.800.000
9989,NaN,Parque Alves de Lima,São Paulo,127,2,1,2,R$ 400.000
9991,NaN,Vila Formosa,São Paulo,145,3,2,3,R$ 750.000
9995,NaN,Jardim Leonor,São Paulo,1350,5,9,7,R$ 9.500.000
9999,NaN,Jardim Petrópolis,São Paulo,423,5,7,6,R$ 2.800.000

In [14]:
bairros_sem_ruas = sem_rua["Bairro"].value_counts()
bairros_sem_ruas

Jardim Guedala                      190
Alto de Pinheiros                   169
Jardim Paulista                     138
Jardim Europa                       128
Jardim Leonor                       118
                                   ...
Jardim do Colégio (Zona Norte)        1
Alto da Boa Vista                     1
Jardim Aeroporto                      1
Conjunto Residencial Vista Verde      1
Jardim Santo Elias                    1
Name: Bairro, Length: 394, dtype: int64

# DESAFIOS AULA 2:

## 1 - Criar uma escala de valores em milhões.

## 2 - Deixar o gráfico do histograma de valores mais específico e mais facil de ler. Deixar o gráfico do histograma de valores legível (alterar labels, cores, título, escala).

## 3 - Preço do metro quadrado por bairro e plotar em um gráfico ideal.

## 4 - Explorar as bibliotecas de visualizações e colocar as suas conclusão.

## 5 - Pesquisar um visualização para analisar os quartis, mediana e outliers.