<a href="https://colab.research.google.com/github/MarinaRuanna/imersao-dados-alura/blob/master/ImersaoDadosAlura_Desafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DESAFIOS AULA 1:

#### IMPORTS E ALTERAÇÕES NECESSARIAS:

In [1]:
import pandas as pd
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

## 1 - Realizar a média da metragem para cada um dos bairros.

**Resolução:**

Agrupei o nosso DataFrame 'dados' pelos valores da coluna "bairro" utilizando o método da biblioteca Pandas '.groupby()'. Em seguida apliquei o método da '.mean()'. 
Para obter um DataFrame apenas com os nomes dos Bairos e a media das metragens utilzei '.sort_values()'.
Em retorno obtive um DataFrame com informação das médias agrupadas pelos valores da coluna bairros que chamei de 'media_metragem_bairros'.
o index são os nomes dos bairros e o DataFrame esta ordenado por ordem crescente das médias das metragens.

Também utilizei uma sintaxe mais simples para obter um resultado semelhante, com o index também sendo os nomes dos bairros sem determinar a ordenação. Chamei esse DataFrame de 'media_metragem_bairro_v2'.

In [7]:
dados.groupby("Bairro")["Metragem"].mean()
media_metragem_bairro = dados.groupby("Bairro").mean()["Metragem"].sort_values()
media_metragem_bairro

Bairro
Vila Guaca                               10.000000
Vila Leonor                              46.000000
Jardim Benfica                           48.000000
Jardim Nova Germania                     57.000000
Cidade Antônio Estevão de Carvalho       57.500000
                                          ...
Chácara Flora                          1260.727273
Jardim das Camélias                    1700.000000
Jardim Guedala                         2486.640199
Vila Castelo                           2850.000000
Sítio Represa                         37000.000000
Name: Metragem, Length: 701, dtype: float64

In [5]:
media_metragem_bairro_v2 = dados.groupby(["Bairro"])["Metragem"].mean()
media_metragem_bairro_v2

Bairro
Aclimação            253.056818
Alto da Boa Vista    418.875000
Alto da Lapa         294.337209
Alto da Mooca        270.050000
Alto de Pinheiros    433.444988
                        ...
Vila Água Funda      152.200000
Água Branca          191.000000
Água Fria            165.416667
Água Funda           139.000000
Água Rasa            340.250000
Name: Metragem, Length: 701, dtype: float64

## 2 - Duas formas de selecionar os dados por bairro (consultar os métodos na documentação do Pandas):

**Resolução**:


Trouxe 5 formas diferentes de selecionar os dados da coluna "Bairro" do nosso DataFrame 'dados':

In [8]:
# Forma 1: 
# Chama todos os dados da coluna. 
# Sintaxe: DataFrame.Coluna
# Exemplo:

dados.Bairro

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [9]:
# Forma 2:
# Chama todos os dados da coluna. 
# Sintaxe: Dataframe["Coluna"]
# Eexemplo:

dados["Bairro"]

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [10]:
# Forma 3:
# Retorna um array com todos os valores unicos de uma coluna.
# Sintaxe: DataFrame["Coluna"].unique()   
# Exemplo:   (Selecionei apenas os 10 primeiros)
dados["Bairro"].head(10).unique()

array(['Planalto Paulista', 'Jardim dos Estados', 'Jardim Reimberg',
       'Jardim Morumbi', 'Mooca', 'Santo Amaro', 'Cidade Mãe do Céu',
       'Jardim Vergueiro', 'Jardim Benfica', 'Vila Alpina'], dtype=object)

In [11]:
# Forma 4:
# Retorna uma Series com todos os valores unicos de uma coluna.
# Sintaxe: DataFrame["Coluna"].drop_duplicates()  
# Exemplo:  

dados["Bairro"].drop_duplicates()

0           Planalto Paulista
1          Jardim dos Estados
2             Jardim Reimberg
3              Jardim Morumbi
4                       Mooca
                ...
9815         Parque São Jorge
9843                Vila Reis
9862       Parque das Árvores
9920           Vila São Pedro
9924    Jardim das Carmelitas
Name: Bairro, Length: 702, dtype: object

In [12]:
# Forma 5:
# Retorna uma Series com todos os valores unicos de uma coluna. 
# Transforma a coluna selecionada em index.
# Retorna a quantide de itens de cada valor único.
# Ordena por ordem decrescente de quantidade de itens.
# Sintaxe: DataFrame["Coluna"].value_counts()  
# Exemplo:  

dados["Bairro"].value_counts()

Alto de Pinheiros     409
Jardim Guedala        403
Jardim Paulista       309
Brooklin Paulista     247
Jardim Europa         240
                     ...
Jardim das Imbuias      1
Vila Represa            1
Vila Nancy              1
Sítio Represa           1
Vila Invernada          1
Name: Bairro, Length: 701, dtype: int64

## 5 - Descobrir quais são os bairros que não tem nome de rua.

**Resolução:**


Primeiro criei um DataFrame com todos os anuncios que não possuiam nomes de ruas utilizando o método 'isna()'. Com esse método é possivel verificar quais dados na coluna selecionada possuem valor 'NaN', que é um valor atribuidos a dados nulos, ausentes ou perdidos no DataFrame. 

Depois criei um novo DataFrame que chamei de 'bairros_sem_ruas', agora com os nomes dos Bairros sendo o index e a quantidade de anuncios em cada bairro que não possuem nomes de ruas. A ordenação é por ordem decrescente de quantidade de anuncios por bairro.

Foi possivel observar que 394 bairros possuiam anuncios sem nomes de ruas.
E o bairro que possuia mais anuncios sem nomes de ruas foi o "Jardim Guedala"

In [13]:
sem_rua = dados[dados["Rua"].isna()]
sem_rua

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
11,NaN,Jardim Luzitânia,São Paulo,436,4,3,3,R$ 15.000
31,NaN,Parque da Lapa,São Paulo,220,4,4,3,R$ 849.000
56,NaN,Chácara Santo Antônio (Zona Sul),São Paulo,190,2,2,2,R$ 1.100.000
57,NaN,Jardim Guedala,São Paulo,650,4,6,4,R$ 5.500.000
...,...,...,...,...,...,...,...,...
9963,NaN,Jardim Petrópolis,São Paulo,423,5,7,6,R$ 2.800.000
9989,NaN,Parque Alves de Lima,São Paulo,127,2,1,2,R$ 400.000
9991,NaN,Vila Formosa,São Paulo,145,3,2,3,R$ 750.000
9995,NaN,Jardim Leonor,São Paulo,1350,5,9,7,R$ 9.500.000
9999,NaN,Jardim Petrópolis,São Paulo,423,5,7,6,R$ 2.800.000

In [14]:
bairros_sem_ruas = sem_rua["Bairro"].value_counts()
bairros_sem_ruas

Jardim Guedala                      190
Alto de Pinheiros                   169
Jardim Paulista                     138
Jardim Europa                       128
Jardim Leonor                       118
                                   ...
Jardim do Colégio (Zona Norte)        1
Alto da Boa Vista                     1
Jardim Aeroporto                      1
Conjunto Residencial Vista Verde      1
Jardim Santo Elias                    1
Name: Bairro, Length: 394, dtype: int64